<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SOAP" />
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="DUAL" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52958/Service.svc/client"
                binding="wsDualHttpBinding" bindingConfiguration="DUAL" contract="CheckersService.IDuplexCheckersService"
                name="DUAL">
                <identity>
                    <userPrincipalName value="asus\user" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:52958/Service.svc/soap" binding="basicHttpBinding"
                bindingConfiguration="SOAP" contract="CheckersService.ISoapCheckersService"
                name="SOAP" />
        </client>
    </system.serviceModel>
</configuration>